<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather forecast</title>
    <script src="https://unpkg.com/htmx.org@1.4.1"></script>
</head>
<body>
  <div id="weather-info" hx-swap="outerHTML">
    <form hx-post="{% url 'index' %}" hx-target="#weather-info">
      {% csrf_token %}
      <input type="text" name="city" placeholder="Search city" required>
      <button type="submit">Search</button>
    </form>    
  
    {% if error_message %}
      <p>{{ error_message }}</p>
    {% else %}
      <h1>Weather information for {{ city }}</h1>
      <p>Conditions: {{ description }}</p>
      <p>Temperature: {{ temperature }}</p>
      <p>Humidity: {{ humidity }}</p>
      <p>Wind speed: {{ wind_speed }}</p>
    {% endif %}
  </div>
</body>
</html>
